/* RESET GENERAL */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background: lightgreen;
color:#222;
}


/* HEADER */

header{
display:flex;
flex-direction:column;
align-items:center;
padding:20px 0;
}

.fotoHeader{
width:300px;
margin-top: -20px;
}


/* NAV */

nav{
border-top:1px solid black;
border-bottom:1px solid black;
width:100%;
background:white;
padding:15px 0;
}

nav ul{
display:flex;
justify-content:center;
list-style:none;
gap:20px;
}

nav ul li a{
text-decoration:none;
color:black;
font-weight:bold;
padding:10px 15px;
border-radius:5px;
transition:0.3s;
}

nav ul li a:hover{
background:black;
color:white;
}


/* SECCION PRINCIPAL */

.mainSection{
display:flex;
justify-content:center;
padding:40px 20px;
}

.mainSection article{
max-width:600px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
margin-bottom: 20px;
}


.mainSection h3{
background:green;
color:white;
padding:15px;
border-radius:6px;
margin-bottom:20px;
}

.mainSection article img{
width:100%;
max-width:400px;
border-radius:10px;
margin-bottom:20px;
}

.mainSection p{
background:black;
color:white;
padding:15px;
border-radius:6px;
margin-bottom: 20px;
}


/* BOTON CONTACTO */

.botonContacto{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:black;
color:white;
text-decoration:none;
border-radius:6px;
font-weight:bold;
transition:0.3s;
}

.apuntame:hover {
    background-color: palegreen;
}
/* ================= FOOTER GENERAL ================= */

footer{
background:linear-gradient(135deg,#0a0a0a,#1e1e1e);
color:white;
padding:40px 20px;
margin-top:60px;
position:relative;
}

/* LINEA VERDE */

footer::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:4px;
background:linear-gradient(90deg,#00ff88,#00cc66,#00ff88);
box-shadow:0 0 10px #00ff88;
}


/* CONTENEDOR */

.footerContainer{
display:flex;
justify-content:space-between;
max-width:1100px;
margin:auto;
gap:40px;
flex-wrap:wrap;
}


/* COLUMNAS */

.footerCol{
flex:1;
min-width:220px;
}

.footerCol h3{
margin-bottom:15px;
color:lightgreen;
font-family:'Arial Black';
}

.footerCol p{
line-height:1.6;
font-size:14px;
}

.footerCol a{
display:block;
color:white;
text-decoration:none;
margin-bottom:8px;
transition:0.3s;
}

.footerCol a:hover{
color:lightgreen;
transform:translateX(5px);
}


/* CAJA CONTACTO */

.contactoBox{
background:#e8ffe8;
padding:20px;
border-radius:8px;
color:black;
border-left:4px solid green;
}

.contactoBox h3{
background:green;
color:white;
width:100%;
padding:15px;
border-radius:6px;
margin-bottom:15px;
text-align:center;
}

.contactoBox p{
font-size:16px;
margin:6px 0;
font-weight:500;
}


/* REDES SOCIALES */

.redes{
margin-top:30px;
text-align:center;
}

.redes a{
font-size:22px;
color:white;
margin:0 12px;
transition:0.3s;
}

.redes a:hover{
color:lightgreen;
transform:scale(1.2);
}


/* COPYRIGHT */

.copyright{
margin-top:20px;
text-align:center;
font-size:14px;
opacity:0.8;
}


/* RESPONSIVE */

@media (max-width:768px){

nav ul{
flex-direction:column;
align-items:center;
}

.footerContainer{
flex-direction:column;
text-align:center;
}

.footerCol{
text-align:center;
}

}
